<div class="footer-end">
    <div class="container-fluid">
        <ul>
            <li class="name_title">
                <p class="text-uppercase">Online Exam System</p>
            </li>
            <li class="footer_log">
                <img asp-append-version="true" src="~/asset/img/login-logo.png">
            </li>
            <li class="copyright mt-5 pb-4">
                <a >Developed by <i class="fa fa-code"></i> Reaz Uddin Maruf</a>
            </li>
        </ul>
    </div>
</div>